# Core ML Libraries
torch==2.2.2
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2

# NLP
nltk==3.8.1

# Streamlit App
streamlit==1.46.1
matplotlib==3.8.4

# File Handling
docx2txt==0.8
PyPDF2==3.0.1

# Utilities
joblib==1.4.2
